<div @ref="_permaDiv" id="@($"_link_{_componentId}")" tabindex="1000" class="permaDiv" style="@GetIconPositionStyle()"
	 @onmouseenter="MouseHover" @onmouseleave="MouseLeave" @attributes=AdditionalAttributes>

<a name="@_permaLinkName"></a> @Content

@if(_showIcon || ShowIcon == ShowPermaLinkIcon.Always) 
{
	<img style="@GetIconStyle()" width="@IconSize" height="@IconSize" class="permaLinkIcon" src="@GetIconUrl()" @onclick="ImgClick" />
}
</div>

@implements IAsyncDisposable

@inject ILogger<PermaLinkElement> _logger;
@inject NavigationManager _navigationManager;
@inject IClipboardHandler _clipboardHandler;

@code {
	private string _componentId = Guid.NewGuid().ToString("n");
	/// <summary>
	/// Map HTML container Id. It can be used when multiple Permalinks added to one page.
	/// </summary>
	public string Id => _componentId;

	private ElementReference _permaDiv;
	/// <summary>
	/// Exposes a Blazor ElementReference of the wrapped around HTML element. It can be used e.g. for JS interop, etc.
	/// </summary>
	public ElementReference InnerElementReference => _permaDiv;

	private DomRect _rect;
	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if(firstRender)
		{
			_rect = await _permaDiv.GetClientRectAsync();
			StateHasChanged();
		}
	}

	private bool _showIcon = false;
	private string? _permaLinkName;
	/// <summary>
	/// Value of the rendered anchor HTML tag. NOTE: it is required and will be part of the URL, do not add # use non URL friendly characters!
	/// </summary>
	[Parameter] public string PermaLinkName
	{
		get => _permaLinkName;
		set
		{
			_permaLinkName = value?.Trim()?.Replace(" ", "-");
		}
	}

	/// <summary>
	/// Required HTML content to render with mouse enter/leave events to show Permalink icon. 
	/// NOTE: it can be any arbitrary HTML elemnt but should be just a header text e.g. h1-h6 element.
	/// </summary>
	[Parameter] public RenderFragment Content { get; set; }

	//Icon visibility, style...
	/// <summary>
	/// Enum value which sets how to show clickable permalink the icon.
	/// </summary>
	[Parameter] public ShowPermaLinkIcon ShowIcon { get; set; } = ShowPermaLinkIcon.OnHover;

	/// <summary>
	/// Enum value which sets where to show the icon.
	/// </summary>
	[Parameter] public PermaLinkIconPosition IconPosition { get; set; } = PermaLinkIconPosition.Right;
	/// <summary>
	/// Sets the icon margin-top CSS property in px. With this icon can be centered.
	/// </summary>
	[Parameter] public double IconMarginTop { get; set; } = 0;
	/// <summary>
	/// Sets the icon <img width="" height="" /> values.
	/// </summary>
	[Parameter] public int IconSize { get; set; } = 16;
	/// <summary>
	/// Enum value which sets the displayed icon type.
	/// </summary>
	[Parameter] public PermaLinkStyle IconStyle { get; set; } = PermaLinkStyle.Normal;
	/// <summary>
	/// FLAG Enum value which sets the behaviour of the icon click: Copy, Navigate. 
	/// Flag values can be combined: PermaLinkIconActions.Copy|PermaLinkIconActions.Navigate.
	/// </summary>
	[Parameter] public PermaLinkIconActions IconActions { get; set; } = PermaLinkIconActions.Copy;

	/// <summary>
	/// Arbitrary HTML attributes e.g.: tabindex="1" will be passed to the corresponding rendered HTML element.
	/// </summary>
	[Parameter(CaptureUnmatchedValues = true)]
	public Dictionary<string, object> AdditionalAttributes { get; set; }

	/// <summary>
	/// Callback function called when Permalink icon clicked and PermaLinkIconActions.Copy feature was set.
	/// </summary>
	[Parameter] public EventCallback<string> OnPermaLinkCopied { get; set; }

	private void MouseHover()
	{
		if (_showIcon || ShowIcon != ShowPermaLinkIcon.OnHover)
			return;

		WriteDiag("------------ DIV Hovered! ---------");

		_showIcon = true;
	}
	private void MouseLeave()
	{
		if (!_showIcon || ShowIcon != ShowPermaLinkIcon.OnHover)
			return;

		WriteDiag("------------ DIV mouse LEAVE! ---------");

		_showIcon = false;
	}
	private async Task ImgClick()
	{
		var uri = _navigationManager.Uri;
		var index = uri.IndexOf("#");
		if(index > 0)
		{
			uri = uri.Substring(0, index);
		}

		uri += $"#{_permaLinkName}";
		WriteDiag($"{nameof(ImgClick)} Link icon was clicked IconActions: {IconActions} URL: {uri}");

		if ((IconActions & PermaLinkIconActions.Copy) == PermaLinkIconActions.Copy)
		{
			var ret = await _clipboardHandler.CopyTextToClipboardAsync(uri);

			if (OnPermaLinkCopied.HasDelegate)
			{
				await OnPermaLinkCopied.InvokeAsync(uri);
			}
		}
		if ((IconActions & PermaLinkIconActions.Navigate) == PermaLinkIconActions.Navigate)
		{
			_navigationManager.NavigateTo(uri, true);
		}
	}

	private string GetIconPositionStyle()
	{
		if(ShowIcon ==ShowPermaLinkIcon.No)
			return string.Empty;

		return IconPosition == PermaLinkIconPosition.Right ? $"padding-right: {(IconSize + 4)}px;" : $"padding-left: {(IconSize + 4)}px;";
	}
	private string GetIconStyle()
	{
		var res = "";
		if (IconPosition == PermaLinkIconPosition.Left)
		{
			res = $"left: {_rect?.Left}px; position: absolute;";
		}

		return $"{res} margin-top: {IconMarginTop}px;";
	}
	private string GetIconUrl()
	{
		var img = IconStyle == PermaLinkStyle.Normal ? "link2" : "link";

		return $"_content/Majorsoft.Blazor.Components.PermaLink/{img}.svg";
	}

	private void WriteDiag(string message)
	{
		_logger.LogDebug($"Component {this.GetType()}: {message}");
	}

	public async ValueTask DisposeAsync()
	{
		if (_clipboardHandler is not null)
		{
			await _clipboardHandler.DisposeAsync();
		}
	}
}