<h3>Debounce Input cotrol</h3>

<pre>Delay time: @DebounceMilisec ms</pre>
<pre>Min required chars: @MinCharsLength</pre>
<pre>Force Notify by Enter: @ForceNotifyByEnter</pre>
<pre>Force Notify On Blur: @ForceNotifyOnBlur</pre>

<DebounceInput id="id1" class="form-control w-25" placeholder="@("Please type in at least: " + @MinCharsLength + " char(s)")"
    @ref="Ref"
    Value="@DebounceInputText" 
    Delay="@DebounceMilisec" 
    MinLength="@MinCharsLength"
    ValueChanged="e => { DebounceInputText = e; }" 
    ForceNotifyByEnter="@ForceNotifyByEnter"
    ForceNotifyOnBlur ="@ForceNotifyOnBlur" />

<br />
<p>Notified value: @DebounceInputText</p>
<p>Actual value: @(Ref?.Value ?? DebounceInputText)</p>


@code {
    private string DebounceInputText = "init";
    private int DebounceMilisec = 1000;
    private int MinCharsLength = 2;
    private bool ForceNotifyByEnter = true;
    private bool ForceNotifyOnBlur = true;

    private DebounceInput Ref;
}

<hr />