<h1>Typeahead Input controls</h1>
<p>
	Blazor component that renders an Input, InputText,. For usege see soruce code and docs on
	<a href="https://github.com/majorimi/blazor-components/blob/master/.github/docs/Typeahead.md" target="_blank">Github</a>.
	<br /><strong>Majorsoft.Blazor.Components.Typeahead</strong> package is available on <a href="https://www.nuget.org/packages/Majorsoft.Blazor.Components.Typeahead" target="_blank">Nuget</a>
</p>

<div class="container-fluid p-3 mb-3 border rounded">
	<h3>Typeahead component</h3>
	<p>Wraps around <strong>HTML Input</strong> control and adds Typeahead control with potentional debounce (delay) and minimal required chars.</p>

	<div>
		<div>
			<input type="range" min="0" max="2000" @bind="_debounceMilisec" @oninput="(e => _debounceMilisec = int.Parse(e.Value?.ToString()))" /> <pre style="display: inline;">Debounce time: @_debounceMilisec ms.</pre>
		</div>
		<div>
			<input type="range" min="0" max="10" @bind="_minCharsLength" @oninput="(e => _minCharsLength = int.Parse(e.Value?.ToString()))" /> <pre style="display: inline;">Min required chars: @_minCharsLength</pre>
		</div>
		<pre>Force Notify by Enter: <input class="mr-3" type="checkbox" @bind="_forceNotifyByEnter" /> @_forceNotifyByEnter</pre>
		<pre>Force Notify On Blur: <input class="mr-3" type="checkbox" @bind="_forceNotifyOnBlur" />@_forceNotifyOnBlur</pre>
	</div>

	<div class="row pb-2">
		<div class="col-12 col-lg-8 col-xl-5">
			<TypeaheadInput id="in1" class="form-control w-100" placeholder="@("Please type in at least: " + _minCharsLength + " char(s)")"
							@ref="input1"
							Value="@_debounceInputValue"
							DebounceTime="@_debounceMilisec"
							MinLength="@_minCharsLength"
							OnValueChanged="e => { _notifiedInputValue = e;  _debounceInputValue = input1.Value; }"
							ForceNotifyByEnter="@_forceNotifyByEnter"
							ForceNotifyOnBlur="@_forceNotifyOnBlur" />
		</div>
	</div>

	<div>Last Notified value: @_notifiedInputValue</div>
	<div>Actual value: @_debounceInputValue</div>

</div>

@code {
	//DebounceInput
	private string _debounceInputValue = "";
	private string? _notifiedInputValue;
	private int _debounceMilisec = 0;
	private int _minCharsLength = 0;
	private bool _forceNotifyByEnter = true;
	private bool _forceNotifyOnBlur = true;
	private TypeaheadInput input1;
}
