<PageScroll />

<h1>Modal Component</h1>
<p>
	Blazor component that can be used to render Modal dialog window with customizable content and parameterized Overlay, etc.. For usage see source code and docs on
	<a href="https://github.com/majorimi/blazor-components/blob/master/.github/docs/Modal.md" target="_blank">Github</a>.
	<br /><strong>Majorsoft.Blazor.Components.Dialog</strong> package is available on <a href="https://www.nuget.org/packages/Majorsoft.Blazor.Components.Dialog" target="_blank">Nuget</a>
</p>

<div class="container-fluid p-3 mb-3 border rounded">
	<h3>Modal dialog</h3>
	<p>Renders a fully customizable Modal dialog with customizable Overlay layer and events to subscribe...</p>

	<div class="container-fluid p-1 mb-3 border border-bottom-0 border-right-0 border-left-0">
		<h4>Default <code>ModalDialog</code></h4>

		<p>Dialog with default parameters, only Content set Header will show Close button</p>
		<button class="btn btn-primary mb-2" @onclick="@(() => _simpledialog1.Open())">Default dialog</button>

		<ModalDialog @ref="_simpledialog1" MinHeight="50">
			<Content>
				Welcome to Blazor default ModalDialog...
			</Content>
		</ModalDialog>
	</div>

	<div class="container-fluid p-1 mb-3 border border-bottom-0 border-right-0 border-left-0">
		<h4><code>ModalDialog</code> hidden Header and no Footer</h4>

		<p>Dialog with default parameters Header hidden (by setting <code>ShowCloseButton="false"</code> and Header RenderFrangment must not present), only Content set</p>
		<button class="btn btn-primary mb-2" @onclick="@(() => _simpledialog2.Open())">No Header dialog</button>

		<ModalDialog @ref="_simpledialog2" MinHeight="50" ShowCloseButton="false">
			<Content>
				Welcome to Blazor ModalDialog with no Header...
			</Content>
		</ModalDialog>
	</div>

	<div class="container-fluid p-1 mb-3 border border-bottom-0 border-right-0 border-left-0">
		<h4><code>ModalDialog</code> Header with HTML title</h4>

		<p>Dialog with default parameters with custom HTML Header Close button hidden</p>
		<button class="btn btn-primary mb-2" @onclick="@(() => _simpledialog3.Open())">Custom Header dialog</button>

		<ModalDialog @ref="_simpledialog3" MinHeight="50" ShowCloseButton="false">
			<Header>
				<div>
					Your title <i class="fa fa-home"></i>
					<button class="btn btn-secondary ml-2">Click me!</button>
				</div>
			</Header>
			<Content>
				Welcome to Blazor ModalDialog with custom HTML Header...
			</Content>
		</ModalDialog>
	</div>

	<div class="container-fluid p-1 mb-3 border border-bottom-0 border-right-0 border-left-0">
		<h4><code>ModalDialog</code> must Accept</h4>

		<p>Dialog with Header and Accept button in Footer which must be accepted. Dialog cannot be closed other way!</p>
		<button class="btn btn-primary mb-2" @onclick="@(() => _simpledialog4.Open())">Must accept dialog</button>

		<ModalDialog @ref="_simpledialog4" MinHeight="50" ShowCloseButton="false" CloseOnOverlayClick="false" CloseOnEscapeKey="false">
			<Header>
				<div>
					Dialog title
				</div>
			</Header>
			<Content>
				Welcome to Blazor angry ModalDialog You must accept to close it...
			</Content>
			<Footer>
				<button class="btn btn-primary ml-2" @onclick="@(() => _simpledialog4.Close())">Accept</button>
			</Footer>
		</ModalDialog>
	</div>

	<div class="container-fluid p-1 mb-3 border border-bottom-0 border-right-0 border-left-0">
		<h4>Fully customizable <code>ModalDialog</code> with all events subscribed</h4>
		<p>Dialog with all parameters customizable from UI (form is coded into Content property) and subscribed to all available events</p>

		<div class="row pb-2">
			<div class="col-12 col-lg-8 col-xl-5">
				Overlay color (Name, RGB, Hex, HSL): <input class="form-control w-100" @bind="_overlayColor" />
			</div>
		</div>
		<div class="row pb-2">
			<div class="col-12 col-lg-8 col-xl-5">
				Overlay opacity: @(_overlayOpacity/100) 
				<input type="range" class="w-100" min="0" max="100" @bind="_overlayOpacity" @oninput="(e => _overlayOpacity = int.Parse(e.Value?.ToString()))" />
			</div>
		</div>
		<div class="row pb-2">
			<div class="col-12 col-lg-8 col-xl-5">
				Modal height (0 is auto): @(_modalHeight == 0 ? "auto" : $"{_modalHeight}px")
				<input type="range" class="w-100" min="0" max="1000" @bind="_modalHeight" @oninput="(e => _modalHeight = int.Parse(e.Value?.ToString()))" />
			</div>
		</div>
		<div class="row pb-2">
			<div class="col-12 col-lg-8 col-xl-5">
				Modal width (0 is auto): @(_modalWitdth == 0 ? "auto" : $"{_modalWitdth}px")
				<input type="range" class="w-100" min="0" max="1000" @bind="_modalWitdth" @oninput="(e => _modalWitdth = int.Parse(e.Value?.ToString()))" />
			</div>
		</div>
		<div class="row pb-2">
			<div class="col-12 col-lg-8 col-xl-5">
				Modal Min. height: @(_modalMinHeight)px
				<input type="range" class="w-100" min="0" max="1000" @bind="_modalMinHeight" @oninput="(e => _modalMinHeight = int.Parse(e.Value?.ToString()))" />
			</div>
		</div>
		<div class="row pb-2">
			<div class="col-12 col-lg-8 col-xl-5">
				Modal Min. width: @(_modalMinWitdth)px
				<input type="range" class="w-100" min="0" max="1000" @bind="_modalMinWitdth" @oninput="(e => _modalMinWitdth = int.Parse(e.Value?.ToString()))" />
			</div>
		</div>

		<div class="row pb-2">
			<div class="col-12 col-lg-8 col-xl-5">
				Close on Overlay click: <input class="mr-3" type="checkbox" @bind="_modalCloseOnClick"/>
				Close on Escape key: <input class="mr-3" type="checkbox" @bind="_modalCloseOnEsc"/>
				Show Close button: <input class="mr-3" type="checkbox" @bind="_modalShowClose"/>
				<br />
				Animate: <input class="mr-3" type="checkbox" @bind="_modalAnimate"/>
				Focus: <input class="mr-3" type="checkbox" @bind="_modalFocus"/>
				Centered: <input class="mr-3" type="checkbox" @bind="_modalCentered"/>
			</div>
		</div>

		<div class="row pb-2">
			<div class="col-12 col-lg-8 col-xl-5">
				Title text (if empty and no Close button, then empty Header will be shown): <input class="form-control w-100" @bind="_modalTitle" />
			</div>
		</div>
		<div class="row pb-2">
			<div class="col-12 col-lg-8 col-xl-5">
				Content text (form is hard-coded): <input class="form-control w-100" @bind="_modalText" />
			</div>
		</div>

		<ModalDialog @ref="_dialog"
			OverlayBackgroundColor="@_overlayColor" 
			OverlayOpacity="@(_overlayOpacity/100)"
			Height="@_modalHeight"
			Width="@_modalWitdth"
			MinHeight="@_modalMinHeight"
			MinWidth="@_modalMinWitdth"
			CloseOnOverlayClick="_modalCloseOnClick"
			CloseOnEscapeKey="_modalCloseOnEsc"
			Focus="_modalFocus"
			Animate="_modalAnimate"
			Centered="_modalCentered"
			ShowCloseButton="_modalShowClose"
			OnOpen="OnOpen"
			OnClose="OnClose"
			OnCloseButtonClicked="OnCloseButtonClicked"
			OnOverlayClicked="OnOverlayClicked"
			OnEscapeKeyPress="OnEscapeKeyPress"
			OnTransitionEnded="OnTransitionEnded">
			<Header>
				@*If you want to hide Header remove the whole Header definition and set ShowCloseButton="false"*@
				<h4>@_modalTitle</h4>
			</Header>
			<Content>
				<div class="container">
					<div class="row pb-2">
						@_modalText
					</div>
					<div class="row pb-2">
						Enter your name: <input class="form-control w-100" @bind="_yourName" />
					</div>
				</div>
			</Content>
			<Footer>
				@*If you want to hide Header remove the whole Footer definition"*@
				<button class="btn btn-warning ml-2" @onclick="CancelDialog">Cancel</button>
				<button class="btn btn-primary ml-2" @onclick="AcceptDialog">Ok</button>
			</Footer>
		</ModalDialog>

		<div class="row pb-2">
			<div class="col-12 col-lg-8 col-xl-5">
				<button id="_modalPrompt" class="btn btn-primary mb-2" @onclick="OpenDialog">Prompt dialog</button>
				@if(!string.IsNullOrWhiteSpace(_yourName))
				{
					<label class="form-control">@_yourName</label>
				}
			</div>
		</div>
	
		<div class="row pb-2">
			<div class="col-12">
				<label><strong>Event log</strong>:</label>
				<textarea @ref="log1" @bind="_modal1Log" style="height:200px;" class="form-control w-100" readonly></textarea>
			</div>
		</div>
	</div>
</div>

@code {
	private ModalDialog _simpledialog1;
	private ModalDialog _simpledialog2;
	private ModalDialog _simpledialog3;
	private ModalDialog _simpledialog4;
	
	//Fully customized dialog
	private string _overlayColor = "128,128,128";
	private double _overlayOpacity = 50;
	private double _modalHeight = 270;
	private double _modalWitdth = 500;
	private double _modalMinHeight = 100;
	private double _modalMinWitdth = 100;
	private bool _modalAnimate = true;
	private bool _modalCloseOnClick = true;
	private bool _modalCloseOnEsc = true;
	private bool _modalFocus = true;
	private bool _modalCentered = true;
	private bool _modalShowClose = true;
	private string _modalTitle = "Modal title";
	private string _modalText = "Congratulations to your first modal!";

	private ElementReference log1;
	private string _modal1Log;
	private string _yourName;
	private ModalDialog _dialog;
	private async Task OpenDialog()
	{
		await _dialog.Open();
	}
	private async Task AcceptDialog()
	{
		_modal1Log = await WriteLog(_modal1Log, $"Modal dialog custom content action: 'Ok' Button click: '{nameof(AcceptDialog)}'.");

		if(_dialog.IsOpen)
		{
			await _dialog.Close();

			if(!string.IsNullOrWhiteSpace(_yourName))
				_yourName = $"Hello {_yourName}!";
			else
				_yourName = "OK clicked but no Name was entered...";
		}
	}
	private async Task CancelDialog()
	{
		_modal1Log = await WriteLog(_modal1Log, $"Modal dialog custom content action: 'Cancel' Button click: '{nameof(CancelDialog)}'.");
		_yourName = "Cancel clicked You have canceled the Dialog";

		await _dialog.Close();
	}

	//Dialog events
	public async Task OnOpen()
	{
		_yourName = string.Empty;
		_modal1Log = await WriteLog(_modal1Log, $"Modal dialog event: '{nameof(OnOpen)}' Dialog opened.");
		await Task.Delay(500);
		_modal1Log = await WriteLog(_modal1Log, $"--------------- End of event handling ---------------");
	}
	public async Task OnClose()
	{
		_modal1Log = await WriteLog(_modal1Log, $"Modal dialog event: '{nameof(OnClose)}' Dialog closed.");
		await Task.Delay(500);
		_modal1Log = await WriteLog(_modal1Log, $"--------------- End of event handling ---------------");
	}
	private async Task OnCloseButtonClicked(MouseEventArgs e)
	{
		_modal1Log = await WriteLog(_modal1Log, $"Modal dialog event: '{nameof(OnCloseButtonClicked)}', Event args: {e}.");
	}
	private async Task OnOverlayClicked(MouseEventArgs e)
	{
		_modal1Log = await WriteLog(_modal1Log, $"Modal dialog event: '{nameof(OnOverlayClicked)}', Event args: {e}.");
	}
	private async Task OnEscapeKeyPress(KeyboardEventArgs e)
	{
		_modal1Log = await WriteLog(_modal1Log, $"Modal dialog event: '{nameof(OnEscapeKeyPress)}', Event args: {e}.");
	}
	private async Task OnTransitionEnded(TransitionEventArgs[] e)
	{
		_modal1Log = await WriteLog(_modal1Log, $"Modal dialog event: '{nameof(OnTransitionEnded)}', Event args: {e}.");
	}

	private async Task<string> WriteLog(string log, string message)
	{
		log += $"{DateTime.Now.TimeOfDay}: {message}. \r\n";
		await log1.ScrollToEndAsync();

		return log;
	}
}